<%= render partial: 'shared/header' %>

<h2>Lista de Filmes</h2>
<% if @list_movies.blank? %>
  <div>
    Nenhum Filmes Cadastrado
  </div>
<% else %>
  <% @list_movies.each do |movie| %>
    <div>
      <%= link_to "#{movie.title} - #{movie.release_year}", movie %>
    </div>
  <% end %>
<% end %>
