<%= render partial: 'shared/header' %>

<h2>Lista de Diretores</h2>
<% if @list_directors.blank? %>
  <div>
    Nenhum Diretor Cadastrado
  </div>
<% else %>
  <% @list_directors.each do |director| %>
    <div>
      <%= link_to director.name, director %>
    </div>
  <% end %>
<% end %>