<div class="mx-4">
  <div class="my-3">
    <%= @director.name %>
  </div>
    <div class="my-3">
    <%= @director.nationality %>
  </div>
    <div class="my-3">
    <%= @director.birthdate %>
  </div>
  <div class="my-3">
    <%= @director.favorite_genre %>
  </div>
</div>