<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/movies/">Filmes</a>
      <a class="nav-item nav-link" href="/directors/">Diretores</a>
      <a class="nav-item nav-link" href="/movie_genres/">Gêneros de Filmes</a>
    </div>
  </div>
</nav>
